.mainbodytop {
  background-image: url(../../../public/image/overlay\ .png);
  background-size: 100% 100%;
  height: 100vh;
  .navbar {
    width: 80%;
    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 80px;
      height: 80px;
      .image_logo {
        width: 100%;
        height: 100%;
      }
    }
    ul {
      display: flex;
      gap: 10px;
      list-style: none;

      li {
        margin-top: 25px;
        transition: 0.5s;
        a {
          text-decoration: none;
          color: white;
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px 15px;
          &:hover {
            background-color: red;
            border: none;
          }
        }
      }
    }
  }
  .articleContainer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .article1 {
      display: flex;
      align-items: center;
      justify-content: center;
      .article {
        margin-top: 50px;
        width: 60%;
        text-transform: uppercase;
        h1 {
          margin-bottom: 20px;
          color: white;
          font-size: 40px;
          span {
            color: red;
          }
        }
        h5 {
          margin-bottom: 20px;
          color: white;
          span {
            color: red;
          }
        }
        .button {
          padding: 10px 15px;
          background-color: red;
          color: white;
          border: none;
          display: flex;
          .icon {
            // position: relative;
            .icons {
              // position: absolute;
              padding-right: 15px;
            }
          }

          .span {
            margin-top: -20px;
            // margin-left: 30px;
          }
        }
      }
    }

    .img {
      width: 500px;
      height: 300px;
      margin-top: 50px;
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }
}
